<mat-toolbar color="primary">
  <span>Crear Documento</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<br>

<div class="container">
  <div class="row">
    <div class="col-6">
        <h2 class="text-center">Nuevo Documento</h2>
        <mat-card class="text-center">
          <form [formGroup]="formDocument" (ngSubmit)="submit()" class="my-4">
            <mat-form-field appearance="fill" class="example-full-width">
              <input placeholder="Nombre" formControlName="DOC_NOMBRE" id="DOC_NOMBRE" type="text" matInput>
              <mat-error *ngIf="formDocument.controls['DOC_NOMBRE'].hasError('required')">
                Este campo es requerido.
              </mat-error>
            </mat-form-field> <br>
            <mat-form-field appearance="fill" class="example-full-width">
              <textarea placeholder="Contenido" formControlName="DOC_CONTENIDO" id="DOC_CONTENIDO" matInput></textarea>
              <mat-error *ngIf="formDocument.controls['DOC_CONTENIDO'].hasError('required')">
                Este campo es requerido.
              </mat-error>
            </mat-form-field> <br>
            <mat-form-field appearance="fill" class="example-full-width">
              <input placeholder="ID Tipo" formControlName="DOC_ID_TIPO" id="DOC_ID_TIPO" type="text" matInput>
              <mat-error *ngIf="formDocument.controls['DOC_ID_TIPO'].hasError('required')">
                Este campo es requerido.
              </mat-error>
            </mat-form-field> <br>
            <mat-form-field appearance="fill" class="example-full-width">
              <input placeholder="ID Proceso" formControlName="DOC_ID_PROCESO" id="DOC_ID_PROCESO" type="text" matInput>
              <mat-error *ngIf="formDocument.controls['DOC_ID_PROCESO'].hasError('required')">
                Este campo es requerido.
              </mat-error>
            </mat-form-field> <br>
      
            <button mat-fab color="primary" aria-label="Crear Documento">
              Crear
            </button>
          </form>
        </mat-card>
      </div>
      <div class="col-6">
        <p class="my-5">
          {{ document | json }}
        </p>
      </div>
    </div>
  </div>

